:root {
	  --main-bg-color: #9f9fa0;
  }

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 40px;
	margin: 0;
	background-color: var(--main-bg-color);

}

main {
	border: 2px solid black;
	border-radius: 5px;
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: dodgerblue;
}

ul#operands,
ul#numbers {
	list-style: none;
	padding: 0;
	margin: 0;
}

.operand,
#result,
.number {
	border: 2px solid black;
	text-align: center;
}

#keys {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	column-gap: 10px;
}

#numbers {
	display: flex;
	flex-wrap: wrap;
	width: 200px;

}

#numbers,
#operands {
	gap: 3px;
}

.number {
	width: 60px;
}

#result {
	box-sizing: border-box;
	margin: 0 0 30px;
	background-color: var(--main-bg-color);
	width: 100%;
}

#operands {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
