$equal-key-bg-color: hsl(6, 63%, 50%);
:root {
	// backgrounds
	  --main-bg-color: hsl(222, 26%, 31%);
	  --keypad-bg-color: hsl(223, 31%, 20%);
	  --screen-bg-color: hsl(224, 36%, 15%);
	  //font
	  --sceen-text-color: hsl(0, 0%, 100%);
	  --font-weight: 700;
	  --font-size: 40px;
	  // key backgroduns
	  --key-bg-color: hsl(30, 25%, 89%);
	  --key-shadow-color: hsl(28, 16%, 65%);
	  // Equal key
	  --equal-key-bg-color: hsl(6, 63%, 50%);
	  --equal-key-shadow-color: hsl(6, 70%, 34%);

	  --key-box-shadow-shape: 0 5px; // offset-x | offset-y
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--main-bg-color);
}

main {
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	font-size: var(--font-size);
	width: 50%;
}

#screen {
	background-color: var(--screen-bg-color);
	border-radius: 10px;
	color: var(--sceen-text-color);
	font-weight: var(--font-weight);
	padding: 0 50px;

	p {
		text-align: right;
	}
}

#screen,
#keypad {
	width: clamp(400px, 100%, 600px);
}

#intermediate {
	color: gray;
	font-size: 30px;
}

#result {
	box-sizing: border-box;
	width: 100%;
}

#keypad {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 25px;
	background-color: var(--keypad-bg-color);
	border-radius: 10px;
	padding: 40px;
}

.key {
	background-color: white;
	border-radius: 10px;
	height: 80%;
	background-color: var(--key-bg-color);
	font-weight: var(--font-weight);
	color: var(--keypad-bg-color);
	padding: 10px 0;
	text-align: center;
	vertical-align: text-top;
	box-shadow: var(--key-box-shadow-shape) var(--key-shadow-color);
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: scale-color($key-bg-color, $lightness: -10%);
	}
}

#clear {
	grid-column: span 2;
}

#equal {
	grid-column: span 2;
	background-color: var(--equal-key-bg-color);
	box-shadow: var(--key-box-shadow-shape) var(--equal-key-shadow-color);
	color: var(--key-bg-color);

	&:hover {
		background-color: scale-color($equal-key-bg-color, $lightness: 10%);
	}
}

#del,
#clear {
	font-size: calc(var(--font-size) - 30%);
	color: var(--key-bg-color);
	background-color: hsl(225, 21%, 49%);
	box-shadow: var(--key-box-shadow-shape) hsl(224, 28%, 35%);

	&:hover {
		background-color: scale-color(hsl(225, 21%, 49%), $lightness: 10%);
	}
}
