:root {
	  --main-bg-color: hsl(222, 26%, 31%);
	  --keypad-bg-color: hsl(223, 31%, 20%);
	  --screen-bg-color: hsl(224, 36%, 15%);
	  --sceen-text-color: hsl(0, 0%, 100%);
	  --font-weight: 700;
	  --font-size: 50px;
	  --key-bg-color: #eae3db;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--main-bg-color);
}

main {
	padding: 50px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	font-size: var(--font-size);
	width: 50%;
}

#screen {
	background-color: var(--screen-bg-color);
	border-radius: 5px;
	color: var(--sceen-text-color);
	font-weight: var(--font-weight);
	padding: 0 50px;

	p {
		text-align: right;
	}
}

#screen,
#keypad {
	width: clamp(400px, 100%, 600px);
}

#intermediate {
	color: gray;
	font-size: 30px;
}

#result {
	box-sizing: border-box;
	width: 100%;
}

#keypad {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, minmax(20%, 100px));
	align-items: center;
	column-gap: 10px;
	background-color: var(--keypad-bg-color);
	border-radius: 5px;
	padding: 20px;
}

.key {
	background-color: white;
	border-radius: 5px;
	background-color: var(--key-bg-color);
	font-weight: var(--font-weight);
	color: var(--keypad-bg-color);
	padding: 10px ;
	text-align: center;
}

#clear {
	grid-area: "clear";
}

#equal {
	grid-area: "equal";
}
